*{
    box-sizing: border-box;
    background-color: #111;
    font-family: 'poppins' , sans-serif;
    
}

ul {
    
    
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    
    margin: 20px;
    list-style: none;
}

ul li a img {
    width: 22em;
    border-radius: 20px;
    
}

ul li a  :hover {
    opacity: 0.7;
    
    
}